body
{
margin: 0px;
padding: 0px;
background: url('images/bg_body.png') repeat-x center top #DEF2F7;
}

#tophead
{
position: relative;
min-width: 1000px;
height: 250px;
background: url('images/bg_head.jpg') 50% 0% no-repeat;
}

#toplogo
{
height: 83px;
left: 18px;
position: absolute;
top: 70px;
width: 1250px;
background: url('images/top_logo.png') 50% 50% no-repeat;
}